h1{
    color: red;
}

#home-intro{
    text-align: center;

   /* border: 3px;
    border-color: black;
    border-style: solid;*/
    border: 3px dotted black;

}
#home-intro :hover{
   background-color: green;
}
#p1{
    text-align: center;
   
    color: blue;
}
